.app-container {
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

*{
  font-family: "Baloo 2", Arial, Helvetica, sans-serif;
}
.title {
  font-family: "Raleway", serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 36px !important;
  line-height: 40px;
}

.pt-header {
  padding-top: 140px;
}
.header-scroll{
  display: none;
}
.paid-course-landing-page__container{
  position: relative;
}
.course-intro-container{
  background-color: #1D1E27;
  color: white;
  .course-intro-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .course-intro-content-text{
    margin-top: 50px;
    padding-bottom: 50px;
    width: 60%;
    .course-intro-content-text-category{
      font-size: 17px;
      font-weight: 500;
      color: #B1B5E9;
    }
    .course-intro-content-text-title{
      font-size: 30px;
      line-height: 1.5;
      font-weight: 600;
    }
    .course-intro-content-text-excerpt{
      font-size: 18px;
     line-height: 1.5;
    }
    .course-intro-content-text-rating{
      margin-top: 30px;
      font-size: 18px;
      font-weight: 500;
      img{
        margin: 0;
        margin-bottom: 13px;
      }
    }
    .course-intro-content-text-created{
      font-size: 15px;
      line-height: 1.5;
      color: rgb(255, 204, 128);
    }

  }

}


.landing-page-side-bar{
  top: 25px;
  position: absolute;
  margin-left: 60%;
}
@media (max-width: 1620px) {
  .landing-page-side-bar{
    margin-left: 70%;
  }
}
@media (max-width: 1500px) {
  .landing-page-side-bar{
    margin-left: 70%;
  }
}
@media (max-width: 1336px) {
  .landing-page-side-bar{
    margin-left: 65%;
  }
}


.course-intro-content-box{
  background-color: white;
  width: 340px;
  box-shadow: -2px 2px 10px 2px rgb(0, 0, 0, 0.2);
  padding-bottom: 50px;
  .box-image{
    width: 335px;
    margin: 0 auto;
    border: #8a8a8a solid 1px;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.2);
    img{
      object-fit: cover;
    }
  }
  .box-info{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
    .price-after{
      font-size: 25px;
      font-weight: 600;
      color: #000;
    }
    .price-origin{
      font-size: 18px;
      text-decoration: line-through;
      color: #808080;
    }
    .discount{
      font-size: 15px;
      color: #000;
    }
  }
  .box-action{
    align-items: center;
    .to-cart{
      background-color: #6d28d2;
      color: #fff;
      border-radius: 4px;
      width: 90%;
      height: 50px;
    }
    .to-cart:hover{
      background-color: #892DE1;
    }
    .buy-now{
      border: rgb(109, 40, 210) solid 1px;
      border-radius: 4px;
      color: rgb(109, 40, 210);
      width: 90%;
      height: 50px;
    }
    .buy-now:hover{
      background-color: #EDE5F9;
    }
  }
  .box-description{
    color: #000;
    width: 90%;
    margin: 0 auto;
    .des-title{
      font-size: 18px;
      font-weight: 500;
    }
    svg{
      margin-top: 3px;
    }
  }

  .box-coupon{
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    .form-control{
      width: 60%;
    }
    .btn{
      width: 30%;
      background-color: #6d28d2;
      color: #fff;
      border-radius: 4px;
    }
    .btn:hover{
      background-color: #892DE1;
    }
  }
}

.scroll-fixed{
  top: 100px;
  position: fixed;

}
.scroll-absolute{
  bottom: 102px;
  position: absolute;
  top: auto;
}

.slider-menu{
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #19191e;
  font-weight: 500;
  z-index: 1;
  .slider-menu-title{
    margin-left: 20px;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
  }
  .slider-menu-rating{
    font-size: 16px;
    color: #fff;
    margin-left: 20px;
  }
}
.paid-course-landing-page__body{
  padding-top: 80px;
  width: 80%;
  margin: 0 auto;
  .course-landing-content{
    width: 60%;
  }

}
.landing-paid-course-title{
  font-size: 25px;
  font-weight: 500;
}
.landing-paid-course-content{
  font-size: 15px;
  line-height: 1.5;
}
.landing-course-content{
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;

}
.header-content-title{
  font-size: 25px;
  font-weight: 600;
  font-family: "Baloo 2", Arial, Helvetica, sans-serif;
}
.header-content-section-row{
  width: 60%;
  min-height: 50px;
  border-top: #1a1a1a solid 1px;
  border-right: #1a1a1a solid 1px;
  border-bottom: #1a1a1a solid 0.5px;
  border-left: #1a1a1a solid 1px;
  background: #F6F7F9;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.expand-icon{
  rotate: 180deg;
}
.video-list {
  width: 60%;
  overflow: hidden;
  transition: max-height 0.3s ease;
  border-right: #1a1a1a solid 1px;
  border-left: #1a1a1a solid 1px;
}
.expanded {
  max-height: 100vh;

}
.collapsed {
  max-height: 0;
}
.landing-course-description{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  .landing-course-description-title{
    font-size: 25px;
    font-weight: 600;
  }
  .landing-course-description-content{
    margin-top: 30px;
    width: 60%;
    font-size: 15px;
  }
}

.landing-course-rating{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 100px;
  .landing-course-rating-title{
    font-size: 25px;
    font-weight: 600;
    .landing-course-rating-title-content{
      margin-top: 14px;
    }
  }
  .landing-course-review{
    width: 60%;
  }
  .review-line{
    border-bottom: #1a1a1a solid 1px;
  }
}
.username-user{
  flex: 1;
}
.avatar-user{
  height: 40px;
  width: 40px;
  border-radius: 100rem;
  background-color: #1D1E27;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-top: 9px;
}
.course-intro-content-text-thumbnail, .course-intro-content-text-price,
.course-intro-content-text-box-action, .course-intro-content-text-box-coupon, .course-intro-content-text-box-description{
  display: none;
}

@media (max-width: 1078px) {
  .course-intro-container{
    background-color: #fff;
    color: #000;

    .course-intro-content{
      width: 70%;
    }
    .course-intro-content-text{
      width: 100%;
      .course-intro-content-text-category{
        color: rgb(109, 40, 210);
      }
      .course-intro-content-text-created{
        font-size: 15px;
        line-height: 1.5;
        color: rgb(184, 119, 0);
      }
      .course-intro-content-text-title{
        margin-top: 20px;
      }
      .course-intro-content-text-price{
        margin-top: 30px;
        display: flex;
        font-size: 25px;
        font-weight: 500;
      }
      .course-intro-content-text-box-action{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .to-cart{
          background-color: #6d28d2;
          color: #fff;
          border-radius: 4px;
          width: 100%;
          height: 50px;
        }
        .to-cart:hover{
          background-color: #892DE1;
        }
        .buy-now{
          border: rgb(109, 40, 210) solid 1px;
          border-radius: 4px;
          color: rgb(109, 40, 210);
          width: 100%;
          height: 50px;
        }
        .buy-now:hover{
          background-color: #EDE5F9;
        }
      }

      .course-intro-content-text-box-coupon{
        display: flex;
        justify-content: space-between;
        .form-control{
          width: 65%;
        }
        .btn{
          width: 33%;
          background-color: #6d28d2;
          color: #fff;
          border-radius: 4px;
        }
        .btn:hover{
          background-color: #892DE1;
        }
      }

      .course-intro-content-text-box-description{
        display: block;
        .course-intro-content-text-box-flex{
          margin-top: 20px;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          ul{
            list-style: none;
            padding: 0;
            margin: 0;
          }
        }
        .des-title{
          font-size: 23px;
          font-weight: 500;
        }
        .duration-des, .phone-des, .access-des, .caption-des, .content-des{
          font-size: 16px;
          svg{
            margin-top: 2px;
          }
        }
      }
    }
  }
  .paid-course-landing-page__body{
    .course-landing-content{
      width: 100%;
    }
  }
  .video-list {
    width: 100%;
  }

  .landing-course-description{
    .landing-course-description-content{
      width: 100%;
    }
  }

  .landing-course-rating{
    .landing-course-review{
      width: 100%;
    }

    padding-bottom: 100px;
  }

  .header-content-section-row{
    width: 100%;
  }

  .landing-page-side-bar{
    display: none;
  }

  .course-intro-content-text-thumbnail{
    display: block;
    img{
      width: 100%;
    }
  }
  .paid-course-landing-page__body{
    padding-top: 0;

  }
}
