
.footer-container{
  background-color: #2F2E41;
  height: 10%;
}
.space{
  height: 200px;
  background-color: #fff3df;
}
.box{
  background-color: #2F2E41;
  padding-top: 30px;
}
.company{
  h3{
    color: #9291A1;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 16px;
    max-width: 200px;
  }

}
.information-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #2F2E41;
}
.information{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.resource, .service, .contact{
  color: #9291A1;
}
.main{
  color: #ffffff;
}

.copy-right{
  background-color: #222132;
  max-width: 90%;
  margin: 0 auto;
  height: 76px;
  display: flex;
  color: #DBDBE9;
  padding-top: 30px;
  justify-content: space-between;
}
.box-2{
  background-color: #222132;
}

