<link rel="stylesheet" href="./footer.component.scss">
<div class="space"></div>

<div class="footer-container">

  <div class="box">
    <div class="information-container">
      <div class="company">
        <h3>Học viện Công nghệ Bưu chính Viễn Thông</h3>
      </div>
      <div class="information">
        <div class="resource">
          <h3 class="main">Tài nguyên</h3>
          <h4>Blogs</h4>
          <h4>Bài tập</h4>
          <h4>Sách</h4>
        </div>

        <div class="service">
          <h3 class="main">Dịch vụ</h3>
          <h4>Đóng góp</h4>
          <h4>Khóa học</h4>
        </div>

        <div class="contact">
          <h3 class="main">Contact</h3>
          <h4>About us</h4>
          <h4>Contact us</h4>
        </div>
      </div>


    </div>
  </div>


  <div class="copy-right">
    <p class="ptit">All rights Reserved © PTIT, 2021</p>
    <p class="made">Made by ThacBao</p>
  </div>

</div>

