<link rel="stylesheet" href="./forgot-password.component.scss">
<body>
<div class="head">
  <h1 class="title">Lấy lại mật khẩu</h1>
</div>

<div class="form">
  <form action="" [formGroup]="forgotPasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="outline" fxFlex class="full-width custom-field black-outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email">
        <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
          <span *ngIf="forgotPasswordForm.controls.email.errors.required">Email không được để trống</span>
          <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">Email không hợp lệ</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div class="submit">
  <button class="submit-button" type="submit" (click)="handleSubmit()" mat-raised-button>Gửi</button>
</div>
</body>

