<div class="app-container">
  <app-header
    [backgroundColor]="headerGradient"
    [SvgColor]="svgColor"
    class="app-header fixed-top"
  ></app-header>

  <div class="container pt-header pb-5">
    <div class="row h-50 justify-content-between">
      <div class="col-12">
        <div class="title fs-2">
          CodeSphere Blog - Trau dồi và phát triển sự nghiệp IT của bạn
        </div>
      </div>
    </div>
  </div>
  <div class="container " style="padding-bottom: 80px;">
    <div class="col-10 search-box-custom d-flex justify-content-between">
      <div class="search col-6 d-flex">
        <div class="col">
          <input
            [(ngModel)]="searchQuery"
            type="text"
            (input)="showSearchButton()"
            class="text-search form-control"
            placeholder="Tìm kiếm"
            (keyup.enter)="search()"
          />
        </div>
      </div>

      <div class="search col-3 d-flex">
        <div class="col">
          <input
            [(ngModel)]="tagQuery"
            type="text"
            (input)="showSearchTagButton()"
            class="text-search form-control"
            placeholder="Tìm theo tag"
            (keyup.enter)="searchTag()"
          />
        </div>
      </div>
      <div class="col-2 search-btn-custom ">
        <button
          class="btn btn-primary w-100 h-100 pb-1 pt-1"
          [disabled]="!isSearching && !isTagSearching"
          (click)="!searchQuery && tagQuery ? searchTag() : search()"
        >
          Tìm kiếm
        </button>
      </div>
    </div>
  </div>

  <div class="blog-box-custom mt-5" style="background-color: #ffffff">
    <div class="title-blog-box-custom col-10 mt-4" style="margin: 0 auto">
      <div class="featured-start text-start">Ghim</div>
      <div class="featured-end text-end">
        <a style="cursor: pointer" (click)="redirectToFeatured()">Xem tất cả</a>
      </div>
    </div>

    <div
      class="card-blog-box-custom col-10 mt-4"
      style="margin: 0 auto; gap: 70px; flex-wrap: wrap"
    >
      <div
        class="card card-blog-custom col-12 pb-2"
        *ngFor="let blog of featuredList"
      >
        <div class="card-body">
          <div class="mt-2">
            <img
              *ngIf="!blog.image"
              src="../../assets/images/thumb-default.png"
              alt=""
            />
            <img *ngIf="blog.image" [src]="blog.image" alt="" />
          </div>
          <div class="card-title mt-3">
            <a href="">{{ blog.title }}</a>
          </div>
          <div class="card-text card-desc-custom mt-3">
            {{ blog.excerpt }}
          </div>

          <div
            class="mt-3 col-12 d-flex justify-content-start flex-wrap pb-3"
            style="gap: 15px"
          >
            <button
              *ngFor="let tag of blog.tagNames"
              class="btn btn-tag-custom"
              (click)="findTag(tag)"
            >
              {{ tag }}
            </button>
          </div>

          <div class="read-now-box col-11 d-flex justify-content-end mt-2">
            <div><a class="read-now" (click)="viewBlogDetails(blog)" style="cursor: pointer;">Bắt đầu đọc -></a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="title-blog-box-custom col-10 mt-2" style="margin: 0 auto">
      <div class="featured-start text-start" style="margin-top: 45px">Bài viết mới</div>
      <div class="featured-end d-flex justify-content-end">
        <div class="filter col-lg-4 col-sm-8 filter-custom">
          <label for="filter">Bộ lọc</label>
          <select
            id="filter"
            [(ngModel)]="selectedFilter"
            class="form-select col-12"
            (change)="onFilterChange()"
            required
          >
            <option [ngValue]="defaultFilter" disabled selected>
              -- Chọn bộ lọc --
            </option>
            <option
              *ngFor="let option of filterOptions"
              [ngValue]="option.value"
            >
              {{ option.viewValue }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div
      class="card-blog-box-custom col-10 mt-4"
      style="margin: 0 auto; gap: 70px; flex-wrap: wrap"
    >
      <div class="card card-blog-custom pb-4" *ngFor="let blog of blogList">
        <div class="card-body">
          <div class="mt-2">
            <img
              *ngIf="!blog.image"
              src="../../assets/images/thumb-default.png"
              alt=""
            />
            <img *ngIf="blog.image" [src]="blog.image" alt="" />
          </div>
          <div class="card-title mt-3">
            <a href="">{{ blog.title }}</a>
          </div>
          <div class="card-text card-desc-custom mt-2">
            {{ blog.excerpt }}
          </div>

          <div
            class="mt-3 col-12 d-flex justify-content-start flex-wrap pb-2"
            style="gap: 15px"
          >
            <button
              *ngFor="let tag of blog.tagNames"
              class="btn btn-tag-custom"
              (click)="findTag(tag)"
            >
              {{ tag }}
            </button>
          </div>
          <div class="read-now-box col-11 d-flex justify-content-end mt-2">
            <div><a class="read-now" (click)="viewBlogDetails(blog)" style="cursor: pointer;">Bắt đầu đọc -></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-pagination
    [totalRecords]="totalRecord"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <app-footer></app-footer>
</div>
