<link rel="stylesheet" href="./set-password.component.scss">
<body>
<div class="head">
  <h1 class="title">Đổi mật khẩu</h1>
</div>
<div class="form">
  <form action="" [formGroup]="setPasswordForm">
    <div fxFlex fxLayout="column" >
      <mat-form-field appearance="outline" fxFlex class="full-width custom-field black-outline">
        <mat-label>Mật khẩu mới</mat-label>
        <input matInput formControlName="password" [type]="showPassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="showPassword = !showPassword">
          <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="setPasswordForm.controls.password.touched && setPasswordForm.controls.password.invalid">
          <span *ngIf="setPasswordForm.controls.password.errors.required">Mật khẩu không được để trống</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex class="full-width custom-field black-outline">
        <mat-label>Nhập lại mật khẩu</mat-label>
        <input matInput formControlName="retypePassword" [type]="showRetypePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="showRetypePassword = !showRetypePassword">
          <mat-icon>{{showRetypePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="setPasswordForm.controls.retypePassword.touched && setPasswordForm.controls.retypePassword.invalid">
          <span *ngIf="setPasswordForm.controls.retypePassword.errors.required">Mật khẩu không được để trống</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div class="submit">
  <button mat-raised-button class="submit-button" type="submit" (click)="handleSubmit()">Hoàn thành
  </button>
</div>
</body>
