<link rel="stylesheet" href="./change-password.component.scss">
<body>
<div class="header">
  <h1 class="title">Đổi mật khẩu</h1>
</div>
<div class="form">
  <form action="" [formGroup]="changePasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="outline" fxFlex class="full-width custom-field black-outline">
        <mat-label>Mật khẩu cũ</mat-label>
        <input type="text" matInput formControlName="oldPassword">
        <mat-error
          *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">Mật khẩu cũ không được để trống</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex class="full-width custom-field black-outline">
        <mat-label>Mật khẩu mới</mat-label>
        <input type="text" matInput formControlName="newPassword">
        <mat-error
          *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
          <span *ngIf="changePasswordForm.controls.newPassword.errors.required">Mật khẩu mới không được để trống</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex class="full-width custom-field black-outline">
        <mat-label>Nhập lại mật khẩu mới</mat-label>
        <input type="text" matInput formControlName="retypeNewPassword">
        <mat-error
          *ngIf="changePasswordForm.controls.retypeNewPassword.touched && changePasswordForm.controls.retypeNewPassword.invalid">
          <span *ngIf="changePasswordForm.controls.retypeNewPassword.errors.required">Mật khẩu mới không được để trống</span>
        </mat-error>
      </mat-form-field>

    </div>


  </form>
</div>
<div class="submit">
  <button class="submit-button" (click)="handleSubmit()" mat-raised-button type="submit" [disabled]="!changePasswordForm.valid || validatePasswordMatch()">
    Đổi mật khẩu
  </button>
</div>
</body>
