body{
  padding-bottom: 200px;
  background-color: #ffffff;
}
.title{
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  width: 500px;
  margin-top: 20px;
  margin-left: 100px;
  font-family: "Raleway", serif;
}

p{
  color: #000000;
}

.full-width {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-top: 10px;
}
.black-outline {
  ::ng-deep .mat-form-field-outline {
    color: #F2F2F2 !important;
  }
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  background-color: #F2F2F2 !important;
  border-radius: 10px;
}
input{
  color: #000000;
}

::ng-deep mat-datepicker-toggle button {
  color: black !important;
}

.submit-button{
  display: block;
  background-color: #007AFF;
  color: #ffffff;
  width: 70%;
  height: 40px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 30px;
}

.submit-button:disabled {
  background-color: #59a4f6 !important;
  opacity: 0.7;
  color: #e3e0e0;
}

.submit-button {
  transition: background-color 0.3s ease;
}
