 <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Oxanium" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <title>CodeSphere</title>
  <body>
    <nav class="navbar">
      <!-- Logo -->
      <div class="logo">
        <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.5772 36.0748L31.7843 26.9561C32.5883 26.4 33.0372 25.5018 33.0502 24.5846L33.1986 15.6175C33.2197 14.341 32.4417 13.1924 31.2565 12.7505L22.9304 9.64593C22.0795 9.32635 21.0885 9.42425 20.2846 9.9804L7.09391 19.1233L18.6431 23.5815L18.5772 36.0748Z" fill="#F95C19"/>
          <path d="M20.5266 9.74233L7.24176 18.9146C6.4331 19.4741 5.98158 20.3775 5.96846 21.3002L5.81896 30.3325C5.79783 31.609 6.5759 32.7576 7.76111 33.1995L16.1478 36.3267C17.0037 36.6481 18.0005 36.5497 18.8092 35.9902L32.0774 26.7935L22.382 23.0509C21.2251 22.6044 20.4647 21.4818 20.4713 20.2303L20.5266 9.74233Z" fill="#CA3E02"/>
        </svg>
        <a href="localhost:4200"><h2 class="text-logo">CodeSphere</h2></a>

      </div>

      <div class="menu-auth">
        <ul class="menu">
          <li><a href="#" class="active">Trang chủ</a></li>
          <li><a href="#">Bài tập</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Khóa học</a></li>
          <li><a href="#">Sách</a></li>
        </ul>

        <div class="auth-buttons" #authMenu>
          <button (click)="toggleMenu()">
            <img src="../../assets/images/auth-icon.svg" alt="">
          </button>

          <div class="dropdown-menu" [class.show]="isMenuOpen">
            <ul>
              <li class="list">
                <i class="fa-solid fa-address-card"></i> <p>Hồ sơ</p></li>
              <li class="list" (click)="changePassword()">
                <i class="fa-solid fa-repeat"></i> <p>Đổi mật khẩu</p></li>
              <li class="list" (click)="logout()">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> <p>Đăng xuất</p></li>
              <li class="list" *ngIf="hasAdminOrManagerRole()" (click)="navigateToDashboard()">
                <i class="fa-solid fa-chart-line"></i> <p>Dashboard</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </nav>
  </body>
