
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="https://fonts.googleapis.com/css?family=Oxanium" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link rel="stylesheet" href="./header.component.scss"/>
<title>CodeSphere</title>
<body>
<nav class="navbar1">
  <!-- Logo -->
  <div class="logo">
    <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18.5772 36.0748L31.7843 26.9561C32.5883 26.4 33.0372 25.5018 33.0502 24.5846L33.1986 15.6175C33.2197 14.341 32.4417 13.1924 31.2565 12.7505L22.9304 9.64593C22.0795 9.32635 21.0885 9.42425 20.2846 9.9804L7.09391 19.1233L18.6431 23.5815L18.5772 36.0748Z"
        fill="#F95C19"/>
      <path
        d="M20.5266 9.74233L7.24176 18.9146C6.4331 19.4741 5.98158 20.3775 5.96846 21.3002L5.81896 30.3325C5.79783 31.609 6.5759 32.7576 7.76111 33.1995L16.1478 36.3267C17.0037 36.6481 18.0005 36.5497 18.8092 35.9902L32.0774 26.7935L22.382 23.0509C21.2251 22.6044 20.4647 21.4818 20.4713 20.2303L20.5266 9.74233Z"
        fill="#CA3E02"/>
    </svg>
    <a href="localhost:4200"><h2 class="text-logo">CodeSphere</h2></a>

  </div>

  <div class="menu-auth">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <button class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#nav-exam" aria-expanded="false" aria-controls="nav-exam"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-exam">
          <ul class="menu navbar-nav">
            <li class="nav-item"><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Trang chủ</a></li>
            <li class="nav-item"><a routerLink="/exercise" routerLinkActive="active">Bài tập</a></li>
            <li class="nav-item"><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
            <li class="nav-item"><a routerLink="/courses" routerLinkActive="active">Khóa học</a></li>
            <li class="nav-item"><a routerLink="/books" routerLinkActive="active">Sách</a></li>
          </ul>
        </div>

      </div>
    </nav>



    <div class="auth-buttons" #authMenu>
      <button (click)="toggleMenu()">
        <img src="../../assets/images/auth-icon.svg" alt="">
      </button>

      <div class="dropdown-menu" [class.show]="isMenuOpen">
        <ul>
          <li class="list">
            <i class="fa-solid fa-address-card"></i>
            <p>Hồ sơ</p></li>
          <li class="list" (click)="changePassword()">
            <i class="fa-solid fa-repeat"></i>
            <p>Đổi mật khẩu</p></li>
          <li class="list" (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <p>Đăng xuất</p></li>
          <li class="list" *ngIf="hasAdminOrManagerRole()" (click)="navigateToDashboard()">
            <i class="fa-solid fa-chart-line"></i>
            <p>Dashboard</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
</body>
<!--  <router-outlet></router-outlet>-->
