

// table

.mat-elevation-z8 {
  margin: 20px;
  margin-top: 70px;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.title{
  font-weight: bold;
  font-size: 25px;
  font-family: "Raleway", serif;
  margin-top: 20px;
  margin-left: 20px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px;
}

.search-button {
  min-width: 40px;
  height: 40px;
  background-color: #1976d2;
  color: white;
  margin-right: 20px;
  margin-top: 10px;

}

.fast-search input, .search input{
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 5px;
  border-color: #B8B7B7;
}
.fast-search input{
  padding-right: 40px;
  width: 200px;
}

.filter-option{
  background-color: #ffffff;
  padding-left: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.error-message {
  color: red;
  text-align: center;
  padding: 20px;
  //background-color: #eaf0f5;
}

mat-cell, mat-header-cell {
  padding: 10px;
}

// Optional: Make the table responsive
@media(max-width: 800px) {
  .mat-table {
    overflow-x: scroll;
  }

  .mat-cell {
    min-height: 100%;
    align-items: center;
    padding: 8px;
  }
}

.mat-column-email {
  flex: 0 0 200px;
  min-width: 150px;
}
.mat-cell {
  padding: 12px 8px;
  word-break: break-word; // Cho phép break word khi cần
  white-space: normal; // Cho phép text xuống dòng
  line-height: 1.2; // Điều chỉnh khoảng cách giữa các dòng
}
