<div class="intro-container">
  <div class="page-title-container">
    <h1 class="page-title parent">{{ parentTitle }}</h1>
    <span class="page-title child">{{ childTitle }}</span>
  </div>
  <div class="route-container">
    <div class="home">
      <mat-icon class="home-mat">home</mat-icon>
      <a href="">Trang chủ</a>
    </div>
    <div class="icon-redirect">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
    <div class="current-page">
      <a href="/codesphere">Dashboard</a>
    </div>
  </div>
</div>

<!--lien he-->
<div class="contact">
  <h1>Hệ thống CodeSphere!</h1>
  <p>Nếu phát hiện ra lỗi, xin vui lòng hãy liên hệ với đội ngũ phát triển ngay, xin cảm ơn.</p>
  <div class="social-icon-container">
    <a href="https://www.facebook.com/thbaonguyen.25.11/" target="_blank">
      <img class="fb" src="../../../../assets/images/fb-w.svg" alt="">
    </a>
    <a href="https://www.instagram.com/thacbaonguyen/" target="_blank">
      <img class="ig" src="../../../../assets/images/ig-w.svg" alt="">
    </a>
    <a href="gmail.com" target="_blank">
      <img class="email" src="../../../../assets/images/email-w.svg" alt="">
    </a>
  </div>
</div>
