body{
  padding-bottom: 300px;
}
.title{
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  width: 500px;
  margin-top: 20px;
  margin-left: 100px;
  font-family: "Raleway", serif;
}

p{
  color: #000000;
}

.full-width {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-top: 10px;
}
.black-outline {
  ::ng-deep .mat-form-field-outline {
    color: #F2F2F2 !important;
  }
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  background-color: #F2F2F2 !important;
  border-radius: 10px;
}
input{
  color: #000000;
}

::ng-deep mat-datepicker-toggle button {
  color: black !important;
}

.forgot-password{
  text-decoration: none;
  text-align: end;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.forgot-password a{
  text-decoration: none ;
  color: #007AFF;

}

.submit-button{
  display: block;
  background-color: #007AFF;
  color: #ffffff;
  width: 70%;
  height: 40px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 30px;
}

.submit-button:disabled {
  background-color: #59a4f6 !important;
  opacity: 0.7;
  color: #e3e0e0;
}

.submit-button {
  transition: background-color 0.3s ease;
}

.google{
  display: flex;
  background-color: #333333;
  color: #ffffff;
  width: 70%;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: center;
  border-radius: 8px;

}

.gg-button{
  background-color: #333333;
  color: #ffffff;
}

.gg-icon{
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.register{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.register p{
  font-weight: 500;
  color: #333333;
  margin-top: 12px;
}
.register button{
  text-decoration: none;
  color: #007AFF;
  margin-left: 20px;
}
.link-button {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

.link-button:hover {
  color: #0056b3;
}

.link-button:focus {
  outline: none;
}
