
.app-container{
    background-color: #f9f9f9;
}
.container-blog {
  display: grid;
  grid-template-columns: 0.75fr 3fr 1fr;
  margin: 0 auto;
  padding-top: 20px;
  gap: 20px;
  position: relative;
  font-family: "Baloo 2", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 25px;
  min-width: 500px;
}
::ng-deep .content h2{
    font-family: "Baloo 2", Arial, Helvetica, sans-serif !important;
    font-size: 25px !important;
    font-weight: 500 !important;
}
::ng-deep .content h3
{
    font-size: 20px !important;
    font-family: "Baloo 2", Arial, Helvetica, sans-serif !important;
    font-weight: 500 !important;
}

.title-blog{
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.thumbnail-blog{
    margin-bottom: 20px
}

.excerpt-blog{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
}

.mark {
  padding: 20px;
  position: sticky;
  top: 100px;
  height: fit-content;
  align-self: start;
  min-height: 150px;
  background-color: #ffffff;
//   border: #b6b6b6 solid 1px;
border: #B3B3B3 solid 1px;
border-radius: 5px 5px 0 0;
}

.content {
    background-color: #ffffff;
  padding: 20px;
  border: #b6b6b6 solid 1px;
}

::ng-deep .content pre {
    background-color: #1E242A;
    color: #9FCFF6;
    border-radius: 0 5px 5px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

.user-info {
    background-color: #ffffff;
//   padding: 20px;
  position: sticky;
  top: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: start;
  margin-top: 50px;

  .user{
    padding: 20px;
    // border: #b6b6b6 solid 1px;
    border: #B3B3B3 solid 2px;
    border-radius: 5px;
  }


  .relate-box{
    padding: 20px;
    // border: #b6b6b6 solid 1px;
    border: #B3B3B3 solid 2px;
    border-radius: 5px;
  }
}

.full-name{
    font-family: "Baloo 2", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.relate {
    // border: #8247ff59 solid 2px;
    border: #B3B3B3 solid 1px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    
}

a{
    text-decoration: none;
}
.relate:hover{
    box-shadow: 0px 2px 15px 0px
    rgba(130.00000000000023, 70.99999999999997, 255, 0.2);
    
    a{
        color: #000000;
        cursor: pointer;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: #5f57fc;
    }
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .container-blog{
        grid-template-columns: 20% 75%;
        overflow: hidden;
    }
    .mark{
        flex-wrap: wrap;
        gap: 15px;
        top: 0;
    }
    .user-info{
        // display: none;
        grid-column: span 2;
    }
    @media (max-width: 817px) {
        .container-blog{
            grid-template-columns: 100%;
            min-width: 500px;
            margin: 0 auto;
        }
        .mark{
           position: relative;
           margin-bottom: 100px
        }
        .user-info{
            grid-column: span 1;
        }
    }
}

.space {
  padding-top: 150px;
}

.content{
    position: relative;
  overflow: hidden;

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  width: 90%;
  margin: 0 auto;
//   transform: translate(-50%, -50%);

//   @media (min-aspect-ratio: 16/9) {
//     height: 56.25vw
//   }

//   @media (max-aspect-ratio: 16/9) {
//     width: 177.78vh
//   }
}
}

.cmt-guide {
  font-size: 15px;
  color: #706969;
}