.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar-container {
  width: 260px;
  height: 100vh;
  flex-shrink: 0;
  background-color: #1e2a38;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px 20px 0px 20px;
  background-color: #EAF0F5;
  height: 100vh;
}
