<link rel="stylesheet" href="./home.component.scss"/>
<!--header-->
<!--<body class="header-nav" *ngIf="!token">-->

<!--</body>-->
<body>
<nav class="navbar" *ngIf="!token">
  <div class="logo">
    <img src="../../assets/images/logo-web.svg" alt="">
    <a href="localhost:4200"><h2 class="text-logo">CodeSphere</h2></a>

  </div>

  <div class="menu-auth">
  <ul class="menu">
    <li><a href="#" class="active" >Trang chủ</a></li>
    <li><a (click)="redirectTo('/exercise')">Bài tập</a></li>
    <li><a (click)="redirectTo('/blog')">Blog</a></li>
    <li><a (click)="redirectTo('/course')">Khóa học</a></li>
    <li><a (click)="redirectTo('/book')">Sách</a></li>
  </ul>

  <div class="auth-buttons">
    <button class="register" (click)="handleSignupAction()">Đăng ký</button>
    <button class="login" (click)="handleLoginAction()">Đăng nhập</button>
  </div>
  </div>
</nav>

<app-header *ngIf="token"></app-header>
<!--body-->
<div class="intro-container">
  <div>
    <h1 class="intro">Trang web cung cấp tài nguyên lập trình</h1>
    <h2 class="description">
      Chúng tôi cung cấp tài liệu cho bạn miễn phí và có trả phí
    </h2>
    <button class="join-button" (click)="handleSignupAction()">Đăng ký ngay</button>

  </div>

  <img
    class="illustration"
    src="../../assets/images/Illustration.svg"
    alt=""
  />
</div>
<div class="service-container">
  <div class="title">
    <h1>Dịch vụ</h1>
  </div>
  <div class="service">
    <div class="item item-1">
      <img src="../../assets/images/sach.svg" alt=""/>
      <h2>Bài tập lập trình</h2>
      <p>
        Cung cấp các bài tập lập trình đa ngôn ngữ( Java, Python, C++... Đủ
        các dạng bài tập từ cơ bản đến nâng cao, giúp bạn cải thiện kỹ năng
        một cách hiệu quả
      </p>
      <ul>
        <li>Đa ngôn ngữ</li>
        <li>Kho bài tập đa dạng</li>
        <li>Chính xác</li>
      </ul>
    </div>
    <div class="item item-2">
      <img src="../../assets/images/luu.svg" alt=""/>
      <h2>Lưu trữ bài giải</h2>
      <p>
        Với mỗi bài giải, chúng tôi cung cấp kho lưu trữ cho các bạn ngay trên
        trang web, giúp bạn tiết kiệm thời gian và bộ nhớ khi cần thiết
      </p>
      <ul>
        <li>Lưu trữ miễn phí</li>
        <li>Nhanh gọn</li>
        <li>Tiện lợi</li>
      </ul>
    </div>
    <div class="item item-3">
      <img src="../../assets/images/cong.svg" alt=""/>
      <h2>Đóng góp bài tập</h2>
      <p>
        Ngoài ra, nếu bạn có bài tập nào hay, đừng ngần ngại đóng góp cho
        chúng tôi. Mọi đóng góp của bạn làm cho cộng đồng ngày càng phát triển
        hơn
      </p>
      <ul>
        <li>Phát triển cộng đồng</li>
        <li>Vinh danh</li>
        <li>Đóng góp</li>
      </ul>
    </div>
    <div class="item item-4">
      <img src="../../assets/images/blog.svg" alt=""/>
      <h2>Blogs</h2>
      <p>
        Cung cấp các bài tập lập trình đa ngôn ngữ( Java, Python, C++... Đủ
        các dạng bài tập từ cơ bản đến nâng cao, giúp bạn cải thiện kỹ năng
        một cách hiệu quả
      </p>
      <ul>
        <li>Chia sẻ kiến thức</li>
        <li>Nâng cao trình độ</li>
        <li>Thảo luận</li>
      </ul>
    </div>
    <div class="item item-5">
      <img src="../../assets/images/sach.svg" alt=""/>
      <h2>Sách</h2>
      <p>
        Với mỗi bài giải, chúng tôi cung cấp kho lưu trữ cho các bạn ngay trên
        trang web, giúp bạn tiết kiệm thời gian và bộ nhớ khi cần thiết
      </p>
      <ul>
        <li>Tài liệu văn bản</li>
        <li>Phong phú</li>
      </ul>
    </div>
    <div class="item item-6">
      <img src="../../assets/images/edu.svg" alt=""/>
      <h2>Khóa học</h2>
      <p>
        Ngoài ra, nếu bạn có bài tập nào hay, đừng ngần ngại đóng góp cho
        chúng tôi. Mọi đóng góp của bạn làm cho cộng đồng ngày càng phát triển
        hơn
      </p>
      <ul>
        <li>Học tập qua video</li>
        <li>Miễn phí và có phí</li>
        <li>Nền tảng số</li>
      </ul>
    </div>
  </div>
</div>
<div class="contact-container">
  <div class="contact-title">
    <h1>Liên hệ</h1>
  </div>
  <div class="contact-us">
    <img class="map" src="../../assets/images/map.png" alt="">
    <div class="contact-text">
      <h2>Liên hệ với chúng tôi</h2>
      <div class="location-container">
        <h3>Ha Dong, Ha Noi, Viet Nam</h3>
      </div>
      <h3>Thứ 2 - Thứ 7</h3>
      <h3>7:00 PM - 18:00 PM</h3>
      <br>
      <div class="media-icon">
        <a href="https://www.facebook.com/HocvienPTIT" target="_blank"><img class="fb"
                                                                            src="../../assets/images/facebook.svg"
                                                                            alt=""></a>
        <a
          href="https://www.instagram.com/explore/locations/1330486813692392/hoc-vien-cong-nghe-buu-chinh-vien-thong-ptit/?next=%2Fkorean.konbu%2F"
          target="_blank"><img class="ig" src="../../assets/images/ig.svg"
                               alt=""></a>
        <a href="https://www.facebook.com/thbaonguyen.25.11" target="_blank"><img class="email"
                                                                                  src="../../assets/images/email.svg"
                                                                                  alt=""></a>
        <!-- <img class="fb" src="../../assets/images/facebook.svg" alt="">
        <img class="ig" src="../../assets/images/ig.svg" alt="">
        <img class="email" src="../../assets/images/email.svg" alt=""> -->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>
