.app-container{
  background-color: #F9F9F9;
}
.pt-header {
  padding-top: 140px;
}

.title {
  font-family: "Raleway", serif;
  font-weight: 800;
}

.card {
  font-family: "Times New Roman", serif;

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 30px;
  }

  .table {
    font-size: 15px;

    pre {
      font-family: "Times New Roman", Times, serif !important;
      //white-space: pre-wrap;
      //word-wrap: break-word;
      font-size: 17px;
    }
  }
}

.limit {
  p {
    font-size: 17px;
    line-height: 1;
  }

}

.custom-file-upload {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dd2c24;
  transition: all 0.3s;
  border-radius: 10px;

  button {
    color: #ffffff;
  }
}

.submit {
  background-color: #d64943;
  color: #ffffff;
  border-radius: 10px;
}

.submit:hover {
  background-color: #BB2019;
}

.cmt-guide {
  font-size: 15px;
  color: #706969;
}

.border-custom {
  //border-color: #bdbcbc;
  border: #bdbcbc solid 1.5px;
}

.border-custom-item {
  border: #bdbcbc solid 1.5px;
  margin-top: 0 !important;
}

.rounded-circle {
  width: 40px;
}

.rounded-circle img {
  margin-top: 5px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: #bababa;
}

.full-name {
  font-size: 18px;
}

.full-name, .username {
  margin: 0;
}

.avatar-2 {
  padding: 0;
}

.pre-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;

}

.btn-link {
  text-decoration: none;
  color: #4D4D4D;
}

.full {
  padding-bottom: 100px;
}

.card-ide-custom{
  .card-title{
    display: flex;
    gap: 15px;
    justify-content: start;
    svg{
      margin-left: 20px;
      margin-top: 20px;
    }
  }
  .card-body{
    padding-top: 0;
  }
}
.editor-custom {
  resize: vertical;
  overflow: auto;
  height: 300px;
  border: 1px solid #ccc;
  margin: 20px;
  border: none;
  background-color: #F8F9FA;
}
.ide-custom{
  height: 100%;
}

.table-header{
  font-family: "Baloo 2", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
  th{
    border: #3f434d solid 1px;
    text-align: center;
  }
}
.table-body{
  tr{
    td{
      border: #3f434d solid 0 1px 1px 1px;
      border-right: #3f434d solid 1px;
      border-bottom: #3f434d solid 1px;
      text-align: center;
      font-family: "Baloo 2", Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }
  }
  
}
.input-section{
  margin: 20px;
  textarea{
    width: 100%;
  }
}

.output-section{
  margin: 20px;
  div{
    border: #4D4D4D solid 1px;
    min-height: 60px;
    pre{
      margin-left: 20px;
      margin-top: 20px;
    }
  }
}

.space{
  padding-top: 150px;
}

