<div class="box">
  <div class="container-layer-0">
    <div class="container-layer-1">
      <div class="container-content">
        <div class="d-flex justify-content-between">
          <h1 class="public-profile">Hồ sơ cá nhân</h1>
          <div class="d-flex gap-2">
            <mat-icon style="font-family: 'Material Icons'" class="">home</mat-icon>
            <p style="margin-top: 3px;"><a href="/home" class=" text-decoration-none">Trang chủ</a></p>
          </div>
        </div>
        <div class="profile-overview-container d-flex justify-content-between">
          <div class="card profile-card ">
            <div class="profile-card-header d-flex justify-content-sm-between">
              <p class="public-profile-sm">Hồ sơ</p>
              <svg height="16px" mat-icon-button [matMenuTriggerFor]="menu" id="Layer_1" style="enable-background:new 0 0 16 16;" version="1.1" viewBox="0 0 16 16"
                   width="16px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M2,6C0.896,6,0,6.896,0,8s0.896,2,2,2s2-0.896,2-2S3.104,6,2,6z M8,6C6.896,6,6,6.896,6,8s0.896,2,2,2s2-0.896,2-2  S9.104,6,8,6z M14,6c-1.104,0-2,0.896-2,2s0.896,2,2,2s2-0.896,2-2S15.104,6,14,6z"/></svg>
              <mat-menu #menu="matMenu" class="ps-3 pe-3 pt-2 mat-menu-profile">
<!--                <button (click)="editProfile()" mat-menu-item class="item">Sửa hồ sơ</button>-->
                <button (click)="navigateTo('statistic')" mat-menu-item class="item">Thống kê</button>
                <button (click)="navigateTo('register-role')" mat-menu-item class="item">Đăng ký quyền</button>
                <button *ngIf="showWrite" (click)="navigateTo('write-blog')" mat-menu-item class="item">Viết blog</button>
                <button (click)="navigateTo('contribute-exercise')" mat-menu-item class="item">Đóng góp bài tập</button>
              </mat-menu>
            </div>
            <div class="profile-card-avatar ">
              <ng-container *ngIf="avatarUrl !== ''; else missingAvatar">
                <div class="avatar-user-image rounded-circle">
                  <img class="rounded-circle img" [src]="avatarUrl" alt="">
                </div>
              </ng-container>
              <ng-template #missingAvatar>
                <div class="avatar-user bg-secondary mt-2">
                  <div class="d-flex flex-column justify-content-center">
                    <p class="text-center mt-2">{{ userProfile.fullName.substring(0, 3) }}</p>
                  </div>
                </div>
              </ng-template>

                <p class="user-username">@{{ userProfile.username }}</p>
                <div class="role d-flex justify-content-between">
                  <div class="d-flex gap-2" *ngFor="let role of userProfile.roles; let i = index">
                    <p class="user-user-role">
                      {{ role }}
                    </p>
                    <span *ngIf="i + 1 < userProfile.roles.length" class="me-1">
                <img src="../../assets/svg-icon/dot.svg" alt="">
              </span>
                  </div>
                </div>

            </div>
            <div class="info" [ngClass]="{'hide-profile': isEditProfile}">
              <div class="full-name">
                <h3>Họ và tên</h3>
                <p>{{ userProfile.fullName }}</p>
              </div>
              <div class="line"></div>
              <div class="email">
                <h3>Email</h3>
                <p>{{ userProfile.email }}</p>
              </div>
              <div class="line"></div>
              <div class="phone">
                <h3>Số điện thoại</h3>
                <p>{{ userProfile.phoneNumber }}</p>
              </div>
              <div class="line"></div>
              <div class="dob">
                <h3>Ngày sinh</h3>
                <p>{{ userProfile.dob }}</p>
              </div>
              <div class="line"></div>
              <div class="created-at">
                <h3>Tham gia lúc</h3>
                <p>{{ userProfile.createdAt }}</p>
              </div>
              <div class="line"></div>
              <div class="activity">
                <h3>Trạng thái</h3>
                <div class="status-tag">
                  <p>Active</p></div>

              </div>
            </div>

            <div class="show-edit-profile-form" [ngClass]="{'show-edit-form': isEditProfile}">
              <div class="full-name">
                <h3>Họ và tên</h3>
                <p>{{ userProfile.fullName }}</p>
              </div>
              <div class="line"></div>
              <div class="email">
                <h3>Email</h3>
                <p>{{ userProfile.email }}</p>
              </div>
              <div class="line"></div>
              <div class="phone">
                <h3>Số điện thoại</h3>
                <p>{{ userProfile.phoneNumber }}</p>
              </div>
              <div class="line"></div>
              <div class="dob">
                <h3>Ngày sinh</h3>
                <p>{{ userProfile.dob }}</p>
              </div>
              <div class="line"></div>
              <div class="created-at">
                <h3>Tham gia lúc</h3>
                <p>{{ userProfile.createdAt }}</p>
              </div>
              <div class="line"></div>
              <div class="activity">
                <h3>Trạng thái</h3>
                <div class="status-tag">
                  <p>Active</p></div>

              </div>
            </div>
          </div>

            <div class="content-right">
              <router-outlet></router-outlet>
            </div>

        </div>

      </div>
    </div>
  </div>

</div>



